
* {text-decoration: none;
list-style: none}


body{
    background: #f1f0f0;
    
}


.container{
    width: 80%;
    margin: 0 auto;
    padding: auto;
}

header{
background:#ffffff;




}

header::after{
content: '';
display:table;
clear: both;
}


.name{
    background:#4aaaa5;
    border-style:solid 2px;
    border-color:#cccccc;
    color: #ffffff;
    float: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

nav{
    float: right;   
}

nav ul{
    margin: 0;
    padding:10px 10px;
}

nav a{
    background: white;
    color: #6b6a6a;
}

nav li{
    display: inline-block;  
    margin-left:70px;
}

.content{
border-style: solid 1px; 
border:1px solid #cccccc;

text-align: left;
}

img {
    height: 200px;
    float: left;
    padding-right: 20px; 
    padding-bottom: 20px;
   
    
}




div .paragraph{
padding: 10px;
border: 1px solid #f1f0f0;
margin: 0;   
text-align: justify;
background: #ffffff;
color:#6b6a6a;

}



h2{
    padding:left 30px;
}
 #u {
    color:#4aaaa5;
    border-bottom: #666666 1px solid;
    padding: bottom 20px;
    text-align: left;
}


footer{
background: #666666;
color: #c7c0c0;
text-align: center;
padding:20px 20px;

}

 

.portfolio{
 height:300px;
 
}

#port{
color:#4aaaa5;
border-bottom: #666666 1px solid;
}

#cont{
    color:#4aaaa5;
    border-bottom: #666666 1px solid;
    }

    form{
        width: 70%;
    }